<div class="jumbotron">
<h1>Here all articles will be displayed</h1>
</div>
<table class="table">
<thead>
<th>Title</th>
<th>Description</th>
<th>Actions</th>
</thead>
<tbody>
<% @articles.each do |article| %>
    <tr>
    <td><%=article.title%></td>
    <td><%=article.description%></td>
    <td><%=link_to 'Show' ,article_path(article)%></td>
    </tr>
<%end%>
</tbody>
</table>
<%=link_to 'New Article', new_article_path,class:"btn btn-primary"%>
